body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:rgb(215, 237, 255);
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    color: rgb(215, 237, 255);
    background-color: rgb(21, 39, 53);
    margin: 0;
    padding: 30px;
}

footer{
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: rgb(21, 39, 53);
    background-color: aliceblue;
    margin: 0;
    padding: 10px;
}

.section{
    min-width: 310px;
    max-width: 500px;
    color:rgb(173, 198, 219);
    background-color: rgb(21, 39, 53);
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
}

.list_title{
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color:rgb(21, 39, 53);
    background-color: rgb(112, 143, 168);
    margin: 0;
    padding: 10px;
}

.contact{
    color: rgb(21, 39, 53);;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

#profile{
    position: initial;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#profpict{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}